<h3>Edit Student Details</h1>

	<%= form_for :student, url: student_path(@student.id) , method: :patch do |f| %>
	
		<%if @student.errors.any?  %>
			<div id="error_explain">
				<h2>
					<%= pluralize(@student.errors.count, "error")%> Prohibited this student from being edited
				</h2>
				<ul>
					<%= @student.errors.full_message.each do |msg| %>
						<li>
							<%= msg %>
						</li>
					<%end%>	
				</ul>
			</div>
		<% end %>

		<body>
		  <table border="0" cellpadding="0" cellspacing="0" width="60%">
	          <tr>
	            <td>
	              <%= f.label :school_id %>
	            </td>
	            <td>
	               <%= @student.school.name%>
	            </td>
	          </tr>
	          <tr>
	            <td>
	              <%= f.label :classroom_id%>
	            </td>
	            <td>
	              <%= @student.classroom.name%>
	               
	            </td>
	          </tr>
	          <tr>
	            <td width="120px">
	               <%= f.label :name %>
	          </td>
	          <td width="120px">
	              <%= f.text_field :name %>
	          </td>
	        </tr>
	         <tr>
	            <td width="120px">
	               <%= f.label :father_name %>
	          </td>
	          <td width="120px">
	              <%= f.text_field :father_name %>
	          </td>
	        </tr>
	         <tr>
	            <td width="120px">
	               <%= f.label :mother_name %>
	          </td>
	          <td width="120px">
	              <%= f.text_field :mother_name %>
	          </td>
	        </tr>
	      <tr>
	        <td width="120px">
	           <%= f.label :phone_no%>
	        </td>
	        <td>
	          <%= f.text_field :phone_no ,:maxlength => 10,:size => 20 %>
	        </td>
	      </tr>
	      <tr>
	        <td width="120px">
	           <%= f.label :address%>
	        </td>
	        <td>
	          <%= f.text_area :address  %>
	        </td>
	      </tr>
	       <tr>
	            <td width="120px">
	               <%= f.label :city %>
	          </td>
	          <td width="120px">
	              <%= f.text_field :city %>
	          </td>
	        </tr>
	         <tr>
	            <td width="120px">
	               <%= f.label :zipcode %>
	          </td>
	          <td width="120px">
	              <%= f.text_field :zipcode %>
	          </td>
	        </tr>
	       <tr>
	            <td width="120px">
	               <%= f.label :state %>
	          </td>
	          <td width="120px">
	              <%= f.text_field :state %>
	          </td>
	        </tr>
			<tr>
			  <td align="center">
				  <%= f.submit%>
	   		  </td>
			</tr>
			<tr>
			  <td align="center">
				  <%= link_to 'Back', students_path%>
			  </td>
			</tr>
		</body>
<% end %>
		

