<h1>Listing Subjects</h1>
<%= link_to 'Create New Subject', new_subject_path %></br>

<table border="1">
	<tr>
		<th>
			Subject Name
		</th>
		
		<th colspan="6">
			Actions
		</th>
		
	</tr>
	<% @subjects.each do |subject|%>
		<tr>
			<td>
				<%= subject.name%>
			</td>
			<td colspan="2">
				<%= link_to 'Show', subject_path(subject) %>
			</td>
			
			<td colspan="2">
				<%= link_to 'Edit', edit_subject_path(subject) %>
			</td>
			<td colspan="2">
				<%= link_to 'Destroy', subject_path(subject), method: :delete, data: { confirm: 'Do you want to destroy this record?' } %>
			</td>
		</tr>

	<%end%>

</table>