<%= form_for :subject, url: subjects_path do |f| %>
	<% if @subject.errors.any? %>
		<div id="error explaination">
			<h2>
				<%= pluralize(@subject.errors.count,"error") %> Prohibited this subject from being saved:
			</h2>
			<ul>
				<% @subject.errors.full_messages.each do|msg|%>
				<li>
					<%= msg%>
				</li>
				<%end%>
			</ul>
		</div>
	<%end%>
	<div align="center" width="">
		<strong>Add New Subject</strong>
	</div>
	<body>
	 <table border="0" cellpadding="0" cellspacing="0" width="60%">
      <tr>
        <td width="120px">
			     <%= f.label :name %>
		    </td>
		    <td width="120px">
    		   <%= f.text_field :name %>
  		  </td>
 	    </tr>
 	    <tr>
 		   <td align="center">
			   <%= f.submit%>
		   </td>
	    </tr>
	    <tr>
 		   <td align="center">
			   <%= link_to 'Back', schools_path%>
		   </td>
	    </tr>
	 </table>
	</body>
 <% end -%>