<div align="center" width="">
		<strong>View Teacher Details</strong>
</div>
<table border="1">
	<tr >
		<td>
			<strong>Teacher Name</strong>
		</td>
		<td>
			<strong>Gender</strong>
		</td>
		<td>
			<strong>Phone No</strong>
		</td>
		<td>
			<strong>Proficiency Subject</strong>
		</td>
		<td align="center">
			<strong>School</strong>
		</td>
	
	</tr>
	<tr>
		<td>
			<%= @teacher.name %>
		</td>
		<td>
			<%= @teacher.gender %>
		</td>
		<td>
			<%= @teacher.phone_no%>
		</td>
		<td>
			<%= @teacher.proficiency_subject%>
		</td>
		<td>
			<%= @teacher.school.name%>
		</td>
		
	</tr>

</table>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path%>