<!-- <h1>New School</h1> -->
<%= form_for :school, url: schools_path do |f| %>
	<% if @school.errors.any? %>
		<div id="error explaination">
			<h2>
				<%= pluralize(@school.errors.count,"error") %> Prohibited this school from being saved:
			</h2>
			<ul>
				<% @school.errors.full_messages.each do|msg|%>
				<li>
					<%= msg%>
				</li>
				<%end%>
			</ul>
		</div>
	<%end%>
  <div id="addNewSchool">
	<div align="center" >
		<strong>Add New School</strong>
	</div>
	<body>
	 <table border="0" cellpadding="0" cellspacing="0" width="60%" id="tbl">
      <tr>
        <td width="120px">
			<%= f.label :name %>
		</td>
		<td width="120px">
    		<%= f.text_field :name %>
  		</td>
 	 </tr>
 	 <tr>
    	<td width="120px">
    		<%= f.label :phone_no %>
    	</td>
    	<td width="120px">
    		<%= f.number_field :phone_no,:maxlength => 10,:size => 20 %>
    	</td>
  	</tr>
  	<tr>
	  	<td width="120px"> 
	    	<%= f.label :address %>
	    </td>
	    <td width="120px">
	    	<%= f.text_area :address %>
	    </td>
  	</tr>
   	<tr>
    	<td width="120px">
    		<%= f.label :city %>
    	</td>
    	<td width="120px">
    		<%= f.text_field :city %>
    	</td>	
  	</tr>
   	<tr>
    	<td width="120px">
    		<%= f.label :zipcode %>
    	</td>
    	<td width="120px">
    		<%= f.text_field :zipcode %>
    	</td>
  	</tr>
  	<tr>
    	<td width="120px">
    		<%= f.label :state %>
    	</td>
    	<td width="120px">
    		<%= f.text_field :state %>
    	</td>
  	</tr>
 	
 	<tr>
 		<td align="center">
			<%= f.submit%>
		</td>
	</tr>
	<tr >
 		<td align="center">
			<%= link_to 'Back', schools_path%>
		</td>
	</tr>
	
  </table>
  </body>
  </div>
 <% end -%>